/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  height: 100%;
}
html{
	height: 100%;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
/* .navbar-wrapper .navbar .container {
  width: auto;
} */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 100%;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* CUSTOM-ELEMENTS */
.imgBtn{
	transition:all 0.2s linear 0s;
}
#drp-1{
	cursor:pointer;
	margin-left: 50%;
	margin-top:2px;
}
.imgRotate{
	    transform: rotate(180deg);
		
}
#dropcontainer-1{
	display:none;
}

#drp-2{
	cursor:pointer;
	margin-left: 50%;
	margin-top:2px;
}

#dropcontainer-2{
	display:none;
}
.dropdown-menu{
	min-width: 215px;
}

.social{
	margin-right: 10px;

}
.scrollup {
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    background: url('../images/icon_top.png') no-repeat;
}

.navbar-inverse{
	background: rgba(34, 34, 34);
}

.btn-default{
	background-color: transparent;
    border-color: #1F4788;
    color: #1F4788;
    font-size: 20px;
    margin: 20px;
    transition: all 0.5s linear 0s;
}


.btn-default:hover, .btn-default:focus {
    background-color: #1F4788;
    border-color: #1F4788;
    color: #fff;
}

.footerBox{
	padding: 10px 0 0;
    border-top: 1px solid #ccc;
    background: #f6f6f6;
   /*  margin-top: 15px; */
}
.footerBox p{
	text-align:right;
	font-size:12px;
}
/*Banner CSS*/
.bannerBg_1{
	background: url("../images/banner.png") no-repeat;
}
.bannerBg{
	background-size: cover;
	background-position: center center;
}
#skills-section{
	/* background:#1b1b1b; */
	background: url(../images/skill-banner.jpg) no-repeat;
    padding: 30px 0;
    height: 100%;
    min-height: 600px;
    background-size: cover;
    background-position: center center;
}
.maskLayer {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#skills-section .skills-flex-wrapper .skills-heading {
    font-family: Gotham,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5vw;
}
.skills-heading{
	color:#f2f2f2;
}

#skills-section ul{
	list-style-type:none;
	padding-left:15px;
}
#skills-section ul li{
	color: #f2f2f2;
    font-size: 16px;
	margin-bottom:10px;
}
#skills-section .skills-flex-wrapper .skills-heading .sprite {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    position: relative;
    top: 7px;
    display: inline-block;
    vertical-align: text-bottom;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
#skills-section .skills-flex-wrapper .skills-heading .sprite.knowledge {
    background-image: url(../images/light-bulb.png);
}
#skills-section .skills-flex-wrapper .skills-heading .sprite.tools {
    background-image: url(../images/repair-tools.png);
    background-size: 90%;
}
#skills-section .skills-flex-wrapper .skills-heading .sprite.design {
    background-image: url(../images/design.png);
    background-size: 90%;
}
#skills-section .skills-flex-wrapper .skills-heading .sprite.dev {
    background-image: url(../images/settings.png);
}
#skills-section .check-wrapper .knowledge-wrapper .list .list-item .item-svg, #skills-section .check-wrapper .tools-wrapper .list .list-item .item-svg {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    color: #fff;
    fill: #fff;
}

#skills-section .skills-flex-wrapper .dev-wrapper .dev-item {
    display: inline-block;
    border: 2px solid rgba(57,57,57,.5);
    border-radius: 50%;
    text-align: center;
    margin: 10px 10px 10px 0;
    padding: 0;
    width: 100px;
    height: 100px;
    line-height: 7;
    font-size: 14px;
	color:#f2f2f2;
	transition:all 0.5s linear 0s;
}
#skills-section .skills-flex-wrapper .dev-wrapper .dev-item:hover{
	/* background:#f6f6f6; */
	color:#000!important;
	box-shadow:inset 0 0 0 100px rgba(255,255,255, 0.9), 0 1px 2px rgba(255,255,255,0.1);
}
.bg {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
#experience-section .bg {
    background-image: url(../images/try1.jpg);
}
.section .overlay-wrapper {
    background: linear-gradient(to bottom,rgba(0,0,0,.61),rgba(0,0,0,.61),rgba(0,0,0,.61),rgba(0,0,0,.61),rgba(0,0,0,.61));
    width: 100%;
    height: 100%;
}
.section .overlay-wrapper .center, .section .section-wrapper .center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.section {
    width: 100%;
    height: auto;
    min-height: 700px;
    padding: 0;
    overflow: hidden;
    color: #f2f2f2;
    position: relative;
}
.section .overlay-wrapper, .section .section-wrapper {
    padding: 100px;
}
.gap, .skrollr .gap {
    background: 0 0!important;
}
#experience-section .experience-wrapper {
    padding: 30px;
}
#experience-section .experience-wrapper #timeline {
    position: relative;
    padding: 2em 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
#experience-section .down-arrow {
    display: block;
    margin: 0 auto;
    border-color: transparent;
    border-top-color: #00b7c7;
    border-style: solid;
    border-width: 15px 7px 0;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
}

#experience-section .experience-wrapper #timeline .timeline-block {
    position: relative;
    transition: all .3s ease;
    margin: 1em 0;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
    float: right;
    position: relative;
    background: #1b1b1b;
    border-radius: 3px;
    margin-left: 0;
    padding: 1.5em;
    width: 45%;
    opacity: .85;
    transition: all .3s ease;
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
    float: left;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 50%;
    margin-left: -25px;
    border-radius: 50%;
    background: #212121;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s ease;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.industry {
    background-image: url(../images/briefcase.png);
}

#experience-section .experience-wrapper #timeline .timeline-block .date {
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    color: #f2f2f2;
    font-family: Gotham,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 55%;
    top: 30px;
}
#experience-section .experience-wrapper #timeline .timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
#experience-section .down-arrow {
    display: block;
    margin: 0 auto;
    border-color: transparent;
    border-top-color: #00b7c7;
    border-style: solid;
    border-width: 15px 7px 0;
    width: 0;
    height: 0;
    position: relative;
    line-height: 0;
}
#experience-section .experience-wrapper #timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    height: 100%;
    width: 2px;
    background: #00b7c7;
}

/* #experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
    text-align: right;
    left: auto;
    right: 55%;
} */

#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.academic {
    background-image: url(../images/notebook.png);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.university {
    background-image: url(../images/graduate-cap.png);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite.research {
    background-image: url(../images/search.png);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company a {
    color: #00b7c7;
    display: inline;
    transition: all .3s ease;
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content .company {
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
}
.block-btn {
    display: block;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    color: #f2f2f2;
    position: relative;
    background: #00909c;
    font-family: Gotham,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background-color .5s linear;
}
.block-btn .text {
    margin: 40px auto;
    opacity: 1;
    visibility: visible;
    transition: transform .4s cubic-bezier(.425,-.195,.005,1.215),opacity .13333s linear;
    transform: scale(1);
}
.block-btn .icon, .block-btn .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.block-btn .icon {
    width: 50px;
    margin: 25px auto;
    opacity: 0;
    visibility: hidden;
    transition: transform .4s cubic-bezier(.425,-.195,.005,1.215),opacity .4s linear;
    transform: translate3D(0,-4em,0) scale(0);
}
.block-btn:focus, .block-btn:hover {
    background: #00b7c7;
    transition: all .3s ease;
}
.block-btn:focus .text, .block-btn:hover .text {
    opacity: 0;
    visibility: hidden;
    transform: translate3D(0,4em,0) scale(0);
}
.block-btn:focus .icon, .block-btn:hover .icon {
    opacity: 1;
    visibility: visible;
    transform: translate3D(0,0,0) scale(1);
}
#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
    content: '';
    position: absolute;
    top: 24px;
    right: 100%;
    height: 0;
    width: 0;
    border: 15px solid transparent;
    border-color: transparent;
    border-right-color: #1b1b1b;
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #1b1b1b;
}
@media only screen and (max-width: 1170px){
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
		left: 0;
		padding-bottom: 2.5em;
	}
	#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) {
		margin-top: 0;
		margin-bottom: 2em;
	}
	#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
		right: 10px;
	}
    #skills-section .skills-flex-wrapper .flex-item {
        padding-right: 0;
    }
	#skills-section{
		height:auto;
	}
	#skills-section .skills-flex-wrapper .skills-heading {
    font-family: Gotham,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
}
#experience-section .experience-wrapper #timeline .timeline-block:nth-child(even) .date {
    text-align: right;
    left: auto;
    right: 55%;
}
@media only screen and (max-width: 1000px){
	#experience-section .experience-wrapper {
		padding-left: 0;
	}
    #experience-section .down-arrow {
    margin-left: 13.5px;
}
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
		margin-left: 70px;
		right: auto;
		width: auto;
	}
	#experience-section .experience-wrapper #timeline:before {
		left: 20px;
		margin-left: 0;
	}
	#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content {
		right: auto;
	}
	#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
		top: 16px;
		left: auto;
		border-color: transparent;
		border-right-color: #1b1b1b;
	}
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
		top: 16px;
		right: 100%;
		left: auto;
		border: 15px solid transparent;
		border-right: 15px solid #1b1b1b;
	}
	#experience-section .experience-wrapper #timeline .timeline-block:nth-child(odd) .timeline-content:before {
		top: 16px;
		left: auto;
		border-color: transparent;
		border-right-color: #1b1b1b;
	}
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-content:before {
		top: 16px;
		right: 100%;
		left: auto;
		border: 15px solid transparent;
		border-right: 15px solid #1b1b1b;
	}
    #experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
        top: 5px;
        left: 20px;
    }
	
}
@media only screen and (max-width: 900px){
	.section .overlay-wrapper, .section .section-wrapper {
		padding: 100px 50px;
	}
}
@media only screen and (max-width: 768px){
	.navbar-wrapper {
		position: static!important;
		margin-left: -15px!important;
		margin-right: -15px!important;
	}
	.navbar{
		margin-bottom:0!important;
	}
    #skills-section .skills-flex-wrapper .skills-heading {
        font-size: 18px;
    } 
        #skills-section .skills-flex-wrapper .dev-wrapper .dev-item {
        width: 100px;
        height: 100px;
        line-height: 7;
        margin: 1%;
    }  
        #skills-section .skills-flex-wrapper .flex-item:nth-child(1) {
        width: 100%;
        min-height: 50px;
    }
        #skills-section .skills-flex-wrapper {
        display: block;
        height: auto;
    }

}
@media only screen and (max-width: 600px){
	#experience-section .experience-wrapper {
		padding: 30px 0;
	}
	
	
	
}
@media only screen and (max-width: 480px){
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-content {
		margin-left: 50px;
		padding: 1.5em 1em 2.5em;
	}
	#experience-section .experience-wrapper #timeline:before {
		left: 10px;
	}
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-img .sprite {
		width: 20px;
		height: 20px;
		margin-left: -10px;
		margin-top: -10px;
	}
	#experience-section .experience-wrapper #timeline .timeline-block .timeline-img {
		width: 40px;
		height: 40px;
		top: 10px;
		left: 15px;
	}
	#experience-section .experience-wrapper #timeline .timeline-block .date {
		left: 66px;
	}
	#experience-section .down-arrow {
		margin-left: 3.5px;
	}

.section:nth-of-type(even) {
    background-color: #1b1b1b;
}
}


